<header>
  <h1>Uploaded logs</h1>
</header>
<div class="my-grid">
  <div class='list' id="uploaded_logs">
    <%= turbo_stream_from 'list_updates' %>
    <%= turbo_frame_tag 'list' do %>
      <% @uploaded_logs.each do |uploaded_log| %>
        <%= render uploaded_log %>
      <% end %>
    <% end %>
    <%= link_to "New uploaded log", new_uploaded_log_path, data: {turbo_frame: 'content'} %>
  </div>
  <div class="content">
    <%= turbo_frame_tag 'content'%>
  </div>
</div>